/**** RESERVIA PROJECT - CSS code for desktop ****/
/*************************************************/
/*********** COMON PART ON ALL SCREENS ***********/
/*************************************************/
/*** Déclaration des Variables  ***/
:root{
    --blue:#0065FC;
    --bluecl:#DEEBFF;
    --grey:#F2F2F2;
    --greyfont:#9c9c9c;
    --greyshdw:#e1e1e1;
}
/***Fonts Definition ***/
@font-face {font-family: 'ralewaymedium';src: url('css/fonts/raleway-medium-webfont.woff2') format('woff2'),url('css/fonts/raleway-medium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayitalic';src: url('css/fonts/raleway-italic-webfont.woff2') format('woff2'),url('css/fonts/raleway-italic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewaybold';src: url('css/fonts/raleway-bold-webfont.woff2') format('woff2'),url('css/fonts/raleway-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayblack';src: url('css/fonts/raleway-black-webfont.woff2') format('woff2'),url('css/fonts/raleway-black-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayblack_italic';src: url('css/fonts/raleway-blackitalic-webfont.woff2') format('woff2'),url('css/fonts/raleway-blackitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewaybold_italic';src: url('css/fonts/raleway-bolditalic-webfont.woff2') format('woff2'),url('css/fonts/raleway-bolditalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayextrabold';src: url('css/fonts/raleway-extrabold-webfont.woff2') format('woff2'),url('css/fonts/raleway-extrabold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayextrabold_italic';src: url('css/fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),url('css/fonts/raleway-extrabolditalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewaylight';src: url('css/fonts/raleway-light-webfont.woff2') format('woff2'),url('raleway-light-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewaylight_italic';src: url('css/fonts/raleway-lightitalic-webfont.woff2') format('woff2'),url('css/fonts/raleway-lightitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayextralight';src: url('css/fonts/raleway-extralight-webfont.woff2') format('woff2'),url('css/fonts/raleway-extralight-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'ralewayextralight_italic';src: url('css/fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),url('css/fonts/raleway-extralightitalic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 29, 2021 */
/***** CSS page RESERVIA ****/

h1{
    font-family:'ralewayregular', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color:#000;
    padding: 0;
    margin: 0;
}
h2{
    font-family:'ralewayregular', sans-serif;
    font-size: 1.2em;
    font-weight: 500; 
    color:#000;
    padding: 0;
    margin: 0;
}
h3{
    font-family:'ralewayregular', sans-serif;
    font-size: 1.05em;
    font-weight: 700; 
    color:#000;
    padding: 0;
    margin: 0;
}
h4{
    font-family: 'ralewayregular', sans-serif;
    font-size:0.9em;
    font-weight:700;
    color:#000;
    padding: 0;
    margin: 0;
}
h5{
    font-family:'ralewayregular', sans-serif;
    font-size:0.9em;
    font-weight:700;
    color:var(--grey2);
    padding: 0;
    margin: 0;
}
h6{
    font-family:'ralewayregular', sans-serif;
    font-size:0.875em;
    font-weight:500;
    color:var(--grey2);
    padding: 0;
    margin: 0;
  }
a{
    font-family:'ralewayregular', sans-serif;
    font-size:0.9em;
    text-decoration: none;
    color:#000;
    padding-right:15px;
}
a:hover,:focus{
    font-family:'ralewayregular', sans-serif;
    color:var(--blue) !important;
    text-decoration: none;
    color:var(--blue);
    cursor:pointer;
}
.aimg:hover{
    box-shadow: 0 0 5px var(--blue);
    cursor: pointer;
}
p{
    font-family:'ralewayregulard', sans-serif;
    font-size:0.75em;
    font-weight:500;
    color:#000;
    padding: 0;
    margin: 0;
}
.searchfont{
    font-family:'ralewayregular', sans-serif;
    font-size: 1.05em;
    font-weight: 700;
    margin:0;
    padding:0;
}
/*Spécifications pour l'utilisation des icones de font-awesome*/
.fas{
    padding:15px;
    border-radius:50px;
}
.faf{
    padding:1%;
    border-radius:50px;
}
.fa-money-bill-wave{
    color:var(--blue);
    border-radius:50px;
    background-color:var(--bluecl);
    vertical-align:middle;
    padding: 10px;
}
.fa-child{
    color:var(--blue);
    border-radius:50px;
    background-color:var(--bluecl);
    vertical-align:middle;
    padding:10px 12px;
}
.fa-heart{
    color:var(--blue);
    border-radius:50px;
    background-color:var(--bluecl);
    vertical-align:middle;
    padding: 10px;
}
.fa-dog{
    color:var(--blue);
    border-radius:50px;
    background-color:var(--bluecl);
    vertical-align:middle;
    padding: 10px;
}
.fa-info{
    color: var(--blue)  !important;
    border-radius: 50px;
    border: solid var(--grey) 2px;
    border-collapse: collapse;
    background-color: #fff;
    margin: 5px;
    text-align: center;
    font-size: 0.7em;
    padding: 3px 6px;
}
.fas.fa-chart-line {
    float: right;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1101px){
/******************************************/
/*** pour les ecrans supérieurs à 1101px ***/
/******************************************/
/**Spécifications pour l'affichage des polices de caractères **/
/*** Spécification de la page en page générale ***/
body{
    max-width:100%;
    width:100%;
    margin:auto;
    margin-top:0px;
    font-size:12pt;
}
.container-fluid{
    padding:40px;
    max-width:1440px;
    width:100%;
    margin:auto;
    margin-top:0px;
}
.page{
    padding:0px 40px;
}
/*** Header display sttings ***/
.grid.header-top {
    display: grid;
    grid-template-columns: 1fr;
}
.header-top {
    display: grid;
    grid-template-columns: 7fr 1fr;
    margin:auto;
}
.logo {
    max-width: 96px;
    padding: 12px;
}
.header-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0;
}
/* Specification for all the contents of the first horizontal part of the header */
.header-infos {
    display: grid;
    grid-template-columns:1fr;
    margin-bottom:20px;
}
.site-title{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin:0;
    margin-top:0.5%;
}
.site-subtitle{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin:0;
    margin-top:1%;
}
/*** Style CSS de la navigation ***/
.navigation {
    display: grid;
    margin-top: 0;
    list-style: none;
    grid-template-columns: 10fr 1fr 1fr 1fr;
    padding: 0;
}
.navigation a{
    bottom:0;
}
.nav ul li{
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5em 1em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
.nav-link:hover{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
.nav-button{
    padding: 20px;
    list-style: none;
    border-top: solid 3px white;
    float:right;
}
.nav-button a{
    color: var(--grey2);
    text-decoration: none;
    font-size:1em;
}
.nav-button a:hover{
    color: var(--blue);
    text-decoration: none;
    font-size:1em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
.nav-button:hover{
    padding: 20px;
    list-style: none;
    border-top: solid 3px var(--blue);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
#inscription{
    color:var(--blue) !important;
    font-weight: 700;
}
#inscription:hover{
    color:var(--grey2) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
/*** fin CSS navigation ***/
/*Spécifications d'affichage du champ de recherches */
.search-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 1%;
    border: solid 2px var(--grey);
    width: auto;
    border-radius: 14px;
    max-width: min-content;
    margin-top: auto;
}
form {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.fa-cont {
    margin: 0;
    padding: 0;
    display: inherit;
}
#Recherchertxt {
    background-color: var(--blue);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    padding: 10px;
    margin: 0;
}
label {
    background-color: var(--blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin: 10px;
}
.searchfield {
    border: none;
    padding: 2px 10px;
}
.search-i {
    background: var(--grey);
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    border: solid 1px var(--grey);
}
.desktop-txt{
    color:white;
}
.desktop-txt:hover,:focus{
    color:var(--grey2);
}
.fa-smart{
    display:none !important;
}
/*Spécification boite de filtration */
#filtres{
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: inherit;
    width: auto;
    max-width: -moz-fit-content;
}
.block-filtres{
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: max-content;
    display: inline-flex;
}
.filter-title{
    padding-right:20px;
}
#filtres h3{
    margin-top:auto;
    margin-bottom:auto;
}
.filter-button{
    margin: auto 10px;
    border:var(--grey) solid 2px;
    border-radius:50px;
    min-width:15%;
}
.filter-button a{
    text-decoration: none;
    color: #000;
}
.filterfont{
    margin:auto 20px;
    padding:0;
}
.fa-cont{
    margin:0;
    padding:0;
}
/* spécifications ligne d'information */
.site-info{
    display:grid;
    grid-template-columns:37%;
    margin-top:2%;
}
/*Spécifications de l'apparence du système de vote*/
.hbgt-rating{
    margin: -6px 0 6px 0;
    padding: 0;
}
.lpp-rating{
    margin: auto auto 12px 0px;
    padding: 0;
    position: relative;
}
/* Propriété d'affichage des icones FA */
.fa-star{
  color:#cbcbcb;
  font-size:0.6em;
  padding:2px;
}
.starok{
  color:var(--blue);
}
/** Spécification de l'affichage du footer **/
footer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    padding:40px;
    background:var(--grey);
}
.footer-links-block{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-left:0;
    padding-left:0;
    align-items: flex-start;
    padding:20px;
}
.footer-title{
  padding-bottom:0;
  margin-bottom:0;
}
.footer-links-list ul {
    padding-left: 0;
}
.footer-links-list li{
    margin-top:5px;
    margin-bottom:5px;
    list-style: none;
}
.footer-links-list a{
    text-decoration: none;
    color:#000;
}
/** Fin de spécifications du footer **/

/***** LES IMAGES *****/
/* Images des hébergements hbgt*/
.imagecontainer-hbgt{
    max-width: 235px;
    max-height: 115px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image-hbgt{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.imagecontainer-hbgt:hover,:focus{
    box-shadow: 0 6px 16px var(--blue);
    cursor:pointer;
}
/* Images des plus populaires lpp */
.imagecontainer-lpp{
    max-width: 130px;
    max-height: 135px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.image-lpp{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.image-lpp:hover,:focus{
    box-shadow: 0 0 6px var(--blue);
    cursor:pointer;
}
/* Images des activités actvt */
.imagecontainer-actvt{
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image-actvt{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.image-actvt:hover,:focus{
    box-shadow: 0 0 6px var(--blue);
    cursor:pointer;
}
/*** Propriété des sections ***/
section{
    display:flex;
    flex-direction:column;
}
/*** Propriété du bloc des sections "Hébergements" et "les plus populaires" ***/
.sections-blocks{
    display:grid;
    grid-template-columns:2fr 1fr;
    padding:40px 5px;
    margin:0;
    gap:40px;
}
/*** Affichage de la section des hébergements hbgt ***/
.section-hbgt{
    background-color: var(--grey);
    padding: 40px;
    border-radius: 17px;
}
/*** Affichage de la section des plus populaires lpp ***/
.section-lpp{
    background-color: var(--grey);
    padding: 40px;
    border-radius: 17px;
}
/*** Affichage de la section des activités ***/
.section-actvt{
    display: flex;
    flex-direction: column;
    padding: 0 5px 40px 5px;
}
/*** Affichage des catégories = détails des sections ***/
.category-hbgt{
    padding: 0;
    margin: 0;
}
.category-title{
    padding: 0;
}
/****** SECTION : LES HÉBERGEMENTS ******/
/** Propriétés d'affichage du block constitué seulement par les blocks de chaque hébergement **/
.block-hbgt-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin: 30px 0 40px 0;
}
#afficherplus{
    padding: 0;
    margin: 0;
    font-size:larger;
}
/* Propriétés d'affichage du block d'un hébergement*/
.hbgt-block{
    padding: 4px;
    box-shadow: 0 0 6px var(--greyshdw);
    border-radius: 15px;
    background: #fff;
}
.hbgt-block-infos{
    display:flex;
    flex-direction:column;
    padding:0 14px;
}
.hbgt-title{
    padding: 6px 0 3px 0;
    margin: 0;
}
.hbgt-desc{
    margin: 0;
    padding: 3px 0 3px 0;
}
/****** SECTION : LES PLUS POPULAIRES ******/
/*** Détail de l'affichage de la section les plus populaires lpp ***/
.category-lpp{
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns :1fr;
    gap: 30px;
    max-width: 345px;
}
.lpp-header{
    display: block ruby;
    padding: 0;
    margin: 0;
}
/** Propriétés d'affichage du block constitué seulement par les blocks de chaque plus populaire **/
.block-lpp-block{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0;
    padding:0;
}
/* Propriétés d'affichage du block d'un hébergement*/
.lpp-block{
    padding: 4px;
    box-shadow: 0 0 6px var(--greyshdw);
    border-radius: 15px;
    background: #fff;
    display: flex;
    max-height: 135px;
}
.lpp-block-infos{
    display:flex;
    flex-direction:column;
    max-width: 172px;
    padding:0 14px;
}
/****** SECTION : ACTIVITÉS ******/
/*** Détail de l'affichage de la section Activités ***/
.block-actvt-block{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0;
    padding:0;
    gap:40px;
}
.block-actvt-1row{
    display:flex;
    flex-direction: column;
}
.block-actvt-2rows{
    display: inline-grid;
    grid-template-rows: 1fr auto;
}
.batop{
    display:flex;
    flex-direction: column;
    margin-top:0;
    position:relative;
}
.babottom{
    display:flex;
    flex-direction: column;
    margin-bottom:0;
    position:relative;
}
.actvt-block{
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 6px var(--greyshdw);
    border-radius: 15px;
}
.actvt-block h2{
    padding: 20px;
}
.smartaimg{
    display:none;
}
}

/********** FIN DU CSS DESKTOP MIN WIDTH 1101PX **********/
/******************************************************************/
/** DEBUT DU CSS POUR TABLETTES MIN WIDTH 681PX MAX WIDTH 1101PX **/
/******************************************************************/
@media screen and (min-width:681px) and (max-width:1100px){}
/****** FIN DU CSS TABLETTES MIN WIDTH 681PX MAX WIDTH 1101PX ******/
/*******************************************************************/
/**** DEBUT DU CSS POUR IPHONES AND SMARTPHONES MAX WIDTH 681PX ****/
/***** FIN DU CSS POUR IPHONES AND SMARTPHONES MAX WIDTH 681PX *****/
/*******************************************************************/
@media screen and (max-width:680px){
body {
    padding-left: 0;
    padding-right: 0;
    max-width: 680px;
    width: auto;
    margin: 40px 37px;
    font-size: 18.75pt;
}
.container-fluid {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
}
.page {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
}
.grid {
    display: grid;
}
.header-top {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.logo {
    max-width: 96px;
    padding: 12px;
}
.header-bottom {
    display: block;
    font-size: 11pt;
}
/*** Style CSS de la navigation ***/
.navigation {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    margin-top: 0;
    list-style: none;
    max-width: 100%;
    width: 100%;
    padding: 0;
}
nav {
    display: contents;
}
.navigation a {
    bottom: 0;
}
.nav ul li {
    list-style: none;
    max-width: 50%;
}
.nav-link {
    padding: 0 1em;
}
.nav-link:hover {
    padding: 0 1em;
    text-decoration: none;
    color: var(--blue) !important;
    text-shadow: 0 0 4px var(--grey2);
}
.nav-button {
    list-style: none;
    border-bottom: solid 6px white;
    padding: 27px 0 !important;
    text-align:center;
}
.nav-button:hover{
    border-bottom: solid 6px var(--blue);
}
.nav-button a {
    color: var(--grey2);
    text-decoration: none;
    font-size: 1em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
}
#inscription {
    color: var(--blue) !important;
    font-weight: 700;
}
#inscription:hover {
    color: var(--grey2) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
}
.navhebergement {
    order: 2;
    padding-top: 27px;
}
.navactivites {
    order: 3;
    padding-top: 27px;
}
.navinscription {
    order: 1;
    padding-top: 27px;
    text-align: right;
}
/*** fin CSS navigation ***/
/*** Specification for all the contents of the first horizontal part of the header ***/
.header-infos {
    padding: 0 0 27px 0;
    margin: 40px 0 0px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: inherit;
}
.site-title {
    padding: 0;
    margin: 0 0 27px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2.7167em;
    max-width: 530px;
}
.site-subtitle {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.5625em;
}
/*Spécifications d'affichage du champ de recherches */
.search-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: solid 2px var(--grey);
    width: auto;
    border-radius: 20px;
    max-width: 100%;
    font-size: 17pt;
    max-height: 100%;
    margin: 4px;
    height: 100%;
}
form {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.fa-cont {
    margin: 0;
    padding: 0;
    display: inherit;
    background: var(--grey);
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    border-radius: 20px;
}
.fa-btn {
    border-radius: 20px !important;
}
#Recherchertxt {
    background-color: var(--blue);
    padding: 10px;
    margin: 0;
    border-radius: 20px;
}
#Rechercher{
    margin: 0 0 0 30px;
}
label {
    background-color: var(--blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
}
label:hover,:focus{
    background-color:var(--greyfont);
}
.searchfield {
    border: none;
    padding: 2px 10px;
}
.search-i {
    background: var(--grey);
    border: solid 1px var(--grey);
    margin: auto;
}
.desktop-txt {
    display: none;
}
.fa-smart {
    color: white;
}
.fa-smart:hover, :focus {
    color: var(--greyfont);
}
/**Fin du champs de recherche*/
/***** CSS du bloc de filtres *****/
#filtres {
    margin: 30px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.filter-title {
    margin-bottom: 25px;
    padding-right: 15px;
    font-size: 2em;
}
.block-filtres {
     display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 17pt;
}
.filter-button {
    display: flex;
    min-width: 45%;
    flex-wrap: wrap;
    border: solid 2px var(--grey);
    margin: 10px;
    border-radius: 50px;
    padding: 0 !important;
    max-height: 60px;
}
.filter-button:hover, :focus{
    box-shadow:0 0 6px var(--greyshdw);
}
.filterfont {
    padding: 0 20px 0 0;
    margin: 17px 17px 17px 15px;
    font-size: 17pt;
}
.filterfont:hover,:focus{
    color:var(--blue)
}
.fa-money-bill-wave {
    color: var(--blue);
    border-radius: 50%;
    background-color: var(--bluecl);
    padding: 20px 16px;
    margin: auto 0;
}
.fa-child {
    color: var(--blue);
    border-radius: 50%;
    background-color: var(--bluecl);
    padding: 20px 22px;
    margin: auto 0;
}
.fa-heart {
    color: var(--blue);
    border-radius: 50%;
    background-color: var(--bluecl);
    padding: 20px 16px;
    margin: auto 0;
}
.fa-dog {
    color: var(--blue);
    border-radius: 50%;
    background-color: var(--bluecl);
    padding: 20px 16px;
    margin: auto 0;
}
.site-info{
    padding:0 0 35px 0;
    margin: 20px 0;
}
/***** LES IMAGES *****/
/* Images des hébergements hbgt*/
.imagecontainer-hbgt{
    max-width: 588px;
    max-height: 209px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.image-hbgt{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/* Images des plus populaires lpp */
.imagecontainer-lpp{
    max-width: 233px;
    max-height: 245px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.image-lpp{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/* Images des activités actvt */
.imagecontainer-actvt{
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.image-actvt{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/************ PROPRIETES DES SECTIONS ************/
section{
    display:flex;
    flex-direction:column;
    padding: 0;
    margin:50px 0;
    gap:50px;
}
/*** Propriété des sections "Hébergements" et "les plus populaires" ***/
.sections-blocks{
    display: flex;
    flex-direction: column-reverse;
    margin:0;
    gap:50px;
}
/*** Affichage de la section des hébergements hbgt ***/
.section-hbgt{
    display:flex;
    flex-direction: column;
    padding:27px 0;
    margin:0;
}
/*** Affichage de la section des plus populaires lpp ***/
.section-lpp{
    background-color: var(--grey);
    padding: 40px 0;
    margin: 0 -37px;
}
/*** Affichage de la section des activités ***/
.section-actvt{
    display: flex;
    flex-direction: column;
    padding: 0;
}
/****** SECTION : LES PLUS POPULAIRES ******/
/*** Détail de l'affichage de la section les plus populaires lpp ***/
.category-lpp{
    padding: 0;
    margin: 0 37px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 608PX;
}
.lpp-header{
    display: block ruby;
    padding: 0;
    margin: 0;
    }
/** Propriétés d'affichage du block constitué seulement par les blocks de chaque plus populaire **/
.block-lpp-block{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 17px;
    margin: 0;
    padding:0;
}
/* Propriétés d'affichage du block d'un hébergement*/
.lpp-block{
    padding: 9px;
    box-shadow: 0 0 6px var(--greyshdw);
    border-radius: 27px;
    background: #fff;
    display: flex;
    max-height: 265px;
}
.lpp-block-infos{
    display:flex;
    flex-direction:column;
    max-width: 253px;
    padding:25px 0 17px 35px;
}
.lpp-header h2{
    font-size: 1.5em;
}
/*Spécifications de l'apparence du système de vote*/
.hbgt-rating{
    margin: -6px 0 6px 0;
    padding: 0;
}
.lpp-rating{
    margin: auto auto 12px 0px;
    padding: 0;
    position: relative;
}
/* Propriété d'affichage des icones FA */
.fa-star{
  color:#cbcbcb;
  font-size:0.6em;
  padding:2px;
}
.starok{
  color:var(--blue);
}
/*** Affichage des catégories = détails des sections ***/
.category-hbgt{
    padding: 0;
    margin: 0;
}
.category-title{
    padding: 0;
}
/****** SECTION : LES HÉBERGEMENTS ******/
/** Propriétés d'affichage du block constitué seulement par les blocks de chaque hébergement **/
.block-hbgt-block{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 27px 0;
    margin: 0;
}
#afficherplus{
    padding: 27px 0;
    margin: 0;
    font-size:larger;
}
/* Propriétés d'affichage du block d'un hébergement*/
.hbgt-block{
    padding: 9px;
    box-shadow: 0 0 6px var(--greyshdw);
    border-radius: 27px;
    background: #fff;
    max-height: 367px;
}
.hbgt-block-infos{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    gap:14px;
    padding:0 14px;
    margin:20px;
}
.hbgt-title{
    padding: 6px 0 3px 0;
    margin: 0;
}
.hbgt-desc{
    margin: 0;
    padding: 3px 0 3px 0;
}
/****** SECTION : ACTIVITÉS ******/
/*** Détail de l'affichage de la section Activités ***/
.block-actvt-block{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
}
.block-actvt-1row{
    display:flex;
    flex-direction: column;
}
.block-actvt-2rows{
    display: inline-grid;
    grid-template-rows: 1fr auto;
}
.batop{
    display:flex;
    flex-direction: column;
    margin-top:0;
    position:relative;
}
.babottom{
    display:flex;
    flex-direction: column;
    margin-bottom:0;
    position:relative;
}
.actvt-block{
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 6px var(--greyshdw);
    border-radius: 15px;
    margin:0 0 30px 0;
}
.actvt-block h2{
    padding: 20px;
}
.actitle{
    padding:0;
    margin:20px;
}
.dktpaimg{
    display:none;
}
/******** CSS DU FOOTER ********/
footer{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr;
    padding: 40px;
    margin:0 -27px;
    background:var(--grey);
}
.footer-links-block{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-left:0;
    padding-left:0;
    align-items: flex-start;
    padding:20px;
}
.footer-title{
  padding-bottom:0;
  margin-bottom:0;
}
.footer-links-list ul {
    padding-left: 0;
}
.footer-links-list li{
    margin-top:5px;
    margin-bottom:5px;
    list-style: none;
}
.footer-links-list a{
    text-decoration: none;
    color:#000;
}
}
/** Fin de spécifications du footer **/
/***** FIN DU CSS POUR IPHONES AND SMARTPHONES MAX WIDTH 681PX *****/